/* Galery */

.galery-item {
    padding: 5px;
}

.galery-img {
    display: block;
    width: 100%;
    height: auto;
}

/* Table */

.project-table {
    border: 1px solid #454444;
    margin: 50px 0;
}

.nav-cell {
    height: 80px;
    width: 400px;
    border-right: 1px solid #454444;
    text-align: center;
    vertical-align: middle;
}

.active-cell {
    background: #0E4674;
}

.table-link {
    text-decoration: none;
    color: #454444;
    font-size: 20px;
}

.active-link {
    color: #fff;
}

.nav-cell:last-child {
    border: none;
}

/* Description */

.mb20 {
    margin-bottom: 20px;
}

.head20 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.head20-centr {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.head20-uppercase {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.mid14 {
    font-size: 14px;
    text-align: middle;
}

/* List */

.list {
    padding-left: 20px;
    list-style-type: disc;
}

.list-decimal {
    padding-left: 20px;
    list-style-type: decimal;
}

/* Characteristics */

.nav-cell-char {
    height: 100%;
    width: 600px;
    height: 60px;
    padding:0 5px 0 20px;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #454444;
    border-bottom: 1px solid #454444;
}

.project-table-char {
    border-top: 1px solid #454444;
    border-left: 1px solid #454444;
    margin: 20px 0;
}

/* Article */

.figure-article-left {
    float: left;
    margin: 0 20px 20px 0;
}

.figure-article-right {
    float: right;
    margin: 0 0 20px 20px;
}

.article-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 540px;
    padding: 50px 0;
}

.article-text {
    text-align: center;
}

.article-img-big {
    display: block;
    width: 100%;
    max-width: 540px;
}

.article-img-small {
    max-width: 320px;
    display: block;
    width: 100%;
}

.article-flex {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.article-column {
    padding-right: 30px;
    width: 600px;
}

.article-column-490 { 
    width: 460px;
    padding-left: 5px;
    margin-right: 5px;
}

.article-column-690 { 
    width: 720px;
    padding-left: 5px;
    margin-left: 5px;
}

/* Tab bar */

.tabs__nav {
    display: flex;
    height: 80px;
}

.tabs__nav-btn {
    padding: 15px 30px;
    width: 33%;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #454444;
    border-right: 0;
    cursor: pointer;
}

.tabs__nav-btn:last-child {
    border-right: 1px solid #454444;
}

.tabs__nav-btn:hover {
    background: #ddd;
}

.tabs__nav-btn.active {
    background-color: #0E4674;;
    color: #fff;
}

.tabs__content {
    padding: 30px;
    background-color: #fff;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

/* Slick arrows */

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: 0;
    cursor: pointer;
    
    position: absolute;
    bottom: 140px;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.slick-next {
    right: 0;
    transform: rotate(135deg);
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #0E4674;
    border-left: 2px solid #0E4674;
}

.slick-slide img {
    width: 100%;
}

/* Information */

.download {
    display: flex;
    align-items: center;
    height: 100%;
    color: #454444;
    margin-bottom: 20px;
}

.download:hover {
    color: #0E4674;
    cursor: pointer;
}

@media (max-width: 821px) {
    .figure-article-left, .figure-article-right  {
        float: none;
    }
}

@media (max-width: 770px) {
    .tabs__nav-btn {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .tabs__nav-btn {
        width: 100%;
        font-size: 18px;
    }

    .tabs__nav {
        display: flex;
        flex-wrap: wrap;
        height: 80px;
        margin: 50px 0 100px 0;
    }

    .nav-cell-char {
        padding: 0 5px 0 5px;
    }

    .tabs__content {
        padding: 30px 0;
    }
}

@media (max-width: 465px) {
    .article-flex {
        flex-direction: column;
    }

    .list, .list-decimal, .article-column-490, .article-column-690   {
        width: 320px;
   }

   .head20 {
        margin-top: 20px;
   }

   .nav-cell-char {
    font-size: 14px;
   }

   .project4 {
    display: none;
   }
}


@media (max-width: 414px) {
    .list, .list-decimal, .article-column-490, .article-column-690    {
        width: 280px;
   }
}