body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    background-color: #fff;
    overflow-x: hidden;
}

.page {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #454444;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.h3 {
    font-size: 24px;
    font-weight: 600;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt100 {
    margin-top: 100px;
}

/* Header */

.logotype {
    width: 250px;
}

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #88AFCB;
}

.header.fixed .header-item {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    border-bottom: 1px solid #0E4674;
}

/* Nav */

.nav-header {
    display: flex;
    font-weight: 600;
}

.nav-link {
    position: relative;
    color: #0E4674;
    text-decoration: none;
    margin-left: 20px;
    z-index: 2;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
    opacity: 0.7;
}

.nav-link:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    text-align: right;

    background: #97bde8 url("img/bckg.png") center no-repeat;
    background-size: cover;
}

.h1 {
    padding-right: 50px;
}

.h1-text {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}

.h2-text {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
}

.btn {
    text-decoration: none;
    border: solid rgba(255, 255, 255, 0.50);
    background-image: linear-gradient(60deg, #26649f 10%, #0E4674 50%, #0a194d 100%);
    padding: 15px 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    transform: scale(0.930);
    transition: 1s;
}

/* Burger */

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 25px;
}

.burger_item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #0E4674;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger_item:before,
.burger_item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0E4674;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger_item:before {
    top: -8px;
}

.burger_item:after {
    bottom: -8px;
}

/* h3 */

.project-bckg-header {
    background-color: #0E4674;
    position: relative;
    left: 0;
    height: 60px;
    width: 750px;
    margin: 100px 0;
}

.project-header {
    position: absolute;
    top: 15px;
    right: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.main-mt {
    margin-top: 580px;
}

/* Project scroll */

.scroll-project {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    gap: 20px;
}

.scroll-project .project-item {
    flex: 0 0 25%;
    scroll-snap-align: start;
}

.project-item {
    position: relative;
}

.description-project-scroll {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    width: 240px;
}

/* About factory */

.float-img-factory {
    float: right;
    margin-left: 50px;
}

.license-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Team */

.peoples-team {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}

.peoples-team .people {
    flex: 0 0 25%;
    scroll-snap-align: start;
}

.people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 470px;
    border-right: 1px solid #b0b0b0;
}

.img-team {
    width: 200px;
}

.h5-team {
    font-weight: 600;
    text-align: center;
    width: 236px;
    padding: 0px 15px;
}

.job-title {
    font-size: 16px;
    text-align: center;
    width: 250px;
}

.contacts-div {
    text-align: center;
}

.team-contacts {
    font-size: 16px;
    text-decoration: none;
    color: #868686;
}

.team-contacts:hover {
    color: #000;
    transition: 1s;
}

/* team icon */

.social {
    display: flex;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #ccc;
    transition: fill .1s linear;
    margin-bottom: 20px;
}

.social_icon:hover {
    fill: #000;
}

/* Projects */

.projects-nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 100px;
    margin: 0 auto;
}

.project1 {
    display: flex;
    flex-direction: column;
}

.container-project-name {
    display: flex;
    align-items: center;
}

.project-width {
    width: 350px;
}

.description-project-name {
    font-size: 20px;
    margin: 20px 0;
}

.btn-project {
    text-decoration: none;
    color: #454444;
    font-weight: 700;
    font-size: 20px;
}

.btn-project:hover {
    scale: 1.1;
    transition: 1s;
}

.btn-flex {
    display: flex;
    align-items: center;
}

.ml-arrow {
    margin-left: 20px;
}

/* Form */

.h3-form {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 400px;
    margin: 150px auto 50px auto;
}

.form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-top: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.position-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
}

.input-form {
    border: none;
    border-bottom: 1px solid #454444;
    resize: none;
    outline: none;
    width: 400px;
    font-size: 18px;
}

.animation-input {
    position: relative;
    width: 400px;
}

.position-form input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #454444;
    outline: none;
    background: transparent;
    resize: none;
}

.position-form label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 0;
    pointer-events: none;
    transition: .5s;
    font-weight: 600;
}

.position-form input:focus~label,
.position-form input:valid~label {
    top: -20px;
    font-size: 16px;
    font-weight: 400;
    color: #0E4674;
}

.btn-width {
    margin: 50px auto 0 auto;
    width: 190px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
}

.footer-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 280px;
    border-right: 1px solid #454444;
    flex-grow: 1;
}

.footer-cell:last-child {
    border: none;
}

.footer-img {
    width: 60px;
}

.footer-name {
    font-size: 16px;
    font-weight: 600;
    color: #5C5959;
    margin: 30px 0;
    text-transform: uppercase;
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
    color: #5C5959;
    text-align: center;
    margin-bottom: 10px;
}

.footer-link:hover {
    scale: 1.1;
    transition: 1s;
}

.footer-head {
    background-color: #0E4674;
    position: relative;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
}

.footer-name-text {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

/* Career */

.career-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.logo-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.partners-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Contacts */

.h3-form-contacts {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 400px;
    margin: 0 auto 20px auto;
}

.contacts-item {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.contacts-data {
    display: flex;
    flex-direction: column;
}

.link-contacts {
    text-decoration: none;
    color: #0E4674;
    font-size: 28px;
    font-weight: 800;
}

.link-contacts:hover {
    scale: 1.1;
    transition: 1s;
}

.position-iframe {
    position: relative;
}

.map {
    max-width: 1920px;
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.address {
    position: absolute;
    top: 0;
    right: 120px;
    width: 350px;
    height: 200px;
    background-color: #0E4674;
    color: #fff;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    padding: 50px;
}

.address-clock {
    font-size: 20px;
}

/* 404 */

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.h1-error {
    font-size: 180px;
    font-weight: 800;
    color: #0E4674;
}

.link-error {
    display: flex;
    flex-direction: column;
}

.nav-link-error {
    color: #454444;
    font-size: 20px;
}

/* Adaptive */

@media screen and (max-width: 1235px) {
    .bckg-header {
        width: 770px;
    }
}

@media screen and (max-width: 1185px) {

    .logotype {
        width: 200px;
    }

    .nav-link {
        font-size: 16px;
    }

}

@media screen and (max-width: 1090px) {

    .logotype {
        width: 150px;
    }

    /* About */

    .float-img-factory {
        margin-left: 10px;
    }

    /* Team */

    .job-title {
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {

    .float-img-factory {
        float: none;
    }

    .about-factory {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-factory p {
        padding: 0px 10px;
    }

}

@media screen and (max-width: 900px) {
    .logotype {
        width: 120px;
    }
}

@media screen and (max-width: 870px) {
    .logotype {
        width: 100px;
    }
}

@media screen and (max-width: 850px) {
    .logotype {
        width: 150px;
    }

    .intro {
        text-align: center;
    }

    /*hamburger menu*/

    .burger {
        display: block;
    }

    .nav-header.show {
        display: flex;
    }

    .nav-header {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #88AFCB;
        text-align: right;

        position: absolute;
        top: 90%;
        right: 0;
    }

    .nav-link {
        padding: 8px 25px;
    }

    .bckg-header {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .project-bckg-header {
        width: 450px;
    }

    .project-header {
        top: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .h1-text {
        font-size: 36px;
    }
    
    .h2-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .h1-text {
        font-size: 32px;
    }
    
    .h2-text {
        font-size: 18px;
    }

    .project-bckg-header {
        width: 350px;
    }

}

@media screen and (max-width: 520px) {
    .project-item-img {
        width: 300px;
    }

    .img-team {
        width: 150px;
    }
}

@media screen and (max-width: 475px) {
    .h5-team {
        font-size: 16px;
    }
}

@media screen and (max-width: 435px) {
    .h1-text {
        font-size: 30px;
    }

    .h3-form {
        width: 320px;
    }
    .position-form {
        width: 350px;
    }
}

@media screen and (max-width: 375px) {
    .h1-text {
        font-size: 28px;
    }

    .license {
        width: 140px;
    }

    .project-bckg-header {
        width: 300px;
    }
}