body {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #454444;

    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #454444;
}

.page {
    overflow-x: hidden;
}

.h3 {
    font-size: 24px;
    font-weight: 600;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb50 {
    margin-bottom: 50px;
}

.mt100 {
    margin-top: 100px;
}

/* Header */

.logotype {
    width: 250px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #0E4674;
    /* padding-bottom: 10px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #0E4674;
}

.header.fixed .header-item {
    padding-top: 10px;
    padding-bottom: 0px;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* Nav */

.nav-header {
    display: flex;
    font-weight: 600;
}

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    z-index: 2;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
    opacity: 0.7;
}

.nav-link:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
}

/* Intro */

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-height: 1080px;
    padding-top: 100px;
    text-align: right;

    background: #97bde8 url("img/bckg.png") center no-repeat;
    background-size: cover;
    background-position: 0%;
}

.container_first_page {
    display: flex;
    padding: 0 30px;
}
.container_width {
    display: flex;
    width: 30%;
}

.h1 {
    width: 70%;
}

.h1-text {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
}

.h2-text {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
}

.btn {
    text-decoration: none;
    border: solid rgba(255, 255, 255, 0.50);
    background-image: linear-gradient(60deg, #26649f 10%, #0E4674 50%, #0a194d 100%);
    padding: 15px 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    transform: scale(0.930);
    transition: 1s;
}

/* Burger */

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 10px;
}

.burger_item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger_item:before,
.burger_item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger_item:before {
    top: -8px;
}

.burger_item:after {
    bottom: -8px;
}

/* h3 */

.project-bckg-header {
    background-color: #0E4674;
    position: relative;
    left: 0;
    height: 60px;
    width: 750px;
    margin: 150px 0 100px 0;
    box-shadow: 1px 3px 5px rgba(68, 67, 67, 0.5);
}

.project-header {
    position: absolute;
    top: 15px;
    right: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.main-mt {
    margin-top: 580px;
}

/* Project scroll */

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots li {
    margin: 20px 5px;
}

.slick-dots button {
    font-size: 0;
    color: transparent;
    border: 0;

    padding: 0;
    background-color: #0E4674;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.slick-dots button:hover {
    cursor: pointer;
}

.slick-dots .slick-active button{
    opacity: .5;
}

/* slick arrows */

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: 0;
    cursor: pointer;

    position: absolute;
    bottom: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.slick-next {
    right: 0;
    transform: rotate(135deg);
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #0E4674;
    border-left: 2px solid #0E4674;
}

.scroll-project {
    padding: 20px;
    margin-bottom: 30px;
}

.project-item {
    position: relative;

}

.project-item-img{
    width: 100%;
    height: auto;
    min-height: 300px;    
}

.description-project-scroll {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    width: 240px;
}

/* About factory */

.about-factory {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.about-factory-item {
    flex: 1 1 0;
}

.about-factory-text {
    padding: 0 15px 0 0;
}

.float-img-factory {
    max-width: 100%;
    height: auto;
}

.license-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Team */

.people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 470px;
    border-right: 1px solid #b0b0b0;
}

.img-team {
    width: 200px;
}

.h5-team {
    font-weight: 600;
    text-align: center;
    width: 236px;
    padding: 0px 15px;
}

.job-title {
    font-size: 16px;
    text-align: center;
    width: 250px;
}

.contacts-div {
    text-align: center;
}

.team-contacts {
    font-size: 16px;
    text-decoration: none;
    color: #868686;
}

.team-contacts:hover {
    color: #000;
    transition: 1s;
}

/* team icon */

.social {
    display: flex;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #ccc;
    transition: fill .1s linear;
    margin-bottom: 20px;
}

.social_icon:hover {
    fill: #000;
    scale: 1.3;
    transition: 1s;
}

/* Projects */

.projects-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
}

.project {
    width: 45%;
    margin: 0 auto;
}

.container-project-name {
    display: flex;
    align-items: center;
}

.container-project-name h5 {
    width: 400px;
}

.description-project-name {
    font-size: 20px;
    margin: 20px 0;
}

.btn-project {
    text-decoration: none;
    color: #454444;
    font-weight: 700;
    font-size: 20px;
}

.btn-project:hover {
    scale: 1.1;
    transition: 1s;
}

.btn-flex {
    display: flex;
    align-items: center;
}

.ml-arrow {
    margin-left: 20px;
}

/* Form */

.form-bckg {
    background-color: rgb(205, 222, 230);
}

.h3-form {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 400px;
    margin: 150px auto 50px auto;
    padding-top: 50px;
}

.form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.position-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
}

.input-form {
    border: none;
    border-bottom: 1px solid #454444;
    resize: none;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.animation-input {
    position: relative;
    width: 100%;
}

.position-form input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #454444;
    outline: none;
    background: transparent;
    resize: none;
}

.position-form label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 0;
    pointer-events: none;
    transition: .5s;
    font-weight: 600;
}

.position-form input:focus~label,
.position-form input:valid~label {
    top: -20px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(155, 154, 154);
}

.btn-width {
    margin: 50px auto 0 auto;
    width: 190px;
}

/* Footer */

.div-logo {
    margin: -80px auto 0px;
    width: 400px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
}

.footer-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 280px;
    border-right: 1px solid #454444;
    flex-grow: 1;
}

.footer-cell:last-child {
    border: none;
}

.footer-img {
    width: 60px;
}

.footer-name {
    font-size: 16px;
    font-weight: 600;
    color: #5C5959;
    margin: 30px 0;
    text-transform: uppercase;
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
    color: #5C5959;
    text-align: center;
    margin-bottom: 10px;
}

.footer-link:hover {
    scale: 1.1;
    transition: 1s;
}

.footer-name-text {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: #0E4674;
    padding: 20px 20px;
}

/* Career */

.career-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.about-career {
    width: 50%;
}

.img-career {
    width: 50%;
    display: block;
    max-width: 100%;
    height: auto;
}

.logo-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.logo-partners img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

.partners-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Contacts */

.h3-form-contacts {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 400px;
    margin: 0 auto 20px auto;
}

.contacts-item {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.contacts-item .form-h3 {
    width: 50%;
}

.contacts-data {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.link-contacts {
    text-decoration: none;
    color: #0E4674;
    font-size: 28px;
    font-weight: 800;
}

.link-contacts:hover {
    scale: 1.1;
    transition: 1s;
}

.position-iframe {
    position: relative;
}

.map {
    max-width: 1920px;
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.address {
    position: absolute;
    top: 0;
    right: 120px;
    width: 350px;
    height: 200px;
    background-color: #0E4674;
    color: #fff;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    padding: 50px;
    box-shadow: 0 0 15px #051e31;
    box-shadow: inset 0 0 25px #051e31;
}

.address-clock {
    font-size: 20px;
}

/* 404 */

.error {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    padding: 0 20px;
}

.h1-error {
    font-size: 180px;
    font-weight: 800;
    color: #0E4674;
}

.link-error {
    display: flex;
    flex-direction: column;
}

.nav-link-error {
    color: #454444;
    font-size: 20px;
}

/* Adaptive */

@media (max-width: 1200px) {

.job-title {
    font-size: 16px;
    text-align: center;
    width: 150px;
}

.people {
    border: 0;
}

.intro {
    background-position: 30%;
}


}

@media (max-width: 990px) {

    /* Intro */

    .h1-text {
        font-size: 40px;
    }

    .h2-text {
        font-size: 18px;
    }

    .logotype {
        width: 200px;
        padding-top: 15px;
    }

    /* about */

    .about-factory {
        flex-direction: column;
        text-align: center;
    }
    .about-factory-text {
        padding: 0;
        text-align: left;
    }

    /* h */

    .project-bckg-header {
        width: 550px;
        margin: 100px 0 100px 0;
    }

    .long-text {
        height: 80px;
    }

    .project-header {
        padding-left: 20px;
    }

    /* projects scroll */
    .description-project-scroll {
        top: 10px;
        left: 10px;
        font-size: 16px;
        width: 220px;
    }

    /* contacts */

    .address {
        width: 250px;
    }

    .job-title {
        width: 200px;
    }

    .footer-link {
        width: 150px;
    }
}

@media (max-width: 770px) {
    /* header */

    .header-item {
        padding: 10px 20px;
    }

    .nav-header {
        display: none;

        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0E4674;
    }

    .nav-header.show {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .nav-link {
        padding: 8px 25px;
    }

    .burger {
        display: block;
    }

    /* intro */

    .h1 {
        bottom: 280px;
        width: 100%;
    }

    .container_width {
        display: flex;
        width: 0%;
    }

    /* projects nav */

    .project {
        width: 100%;
    } 

    .project-item-img{
        min-height: 350px;    
    }

    .description-project-scroll {
        top: 20px;
        left: 20px;
        font-size: 18px;
        width: 230px;
    }

    /* team */

    .img-team {
        width: 150px;
    }

    .h5-team {
        font-size: 16px;
    }

    /* career */

    .career-item {
        flex-direction: column;
    }

    .about-career {
        width: 100%;
    }

    .img-career {
        width: 100%;
    }

    .partners-team {
        width: 350px;
        margin: 0 auto;
    }

    /* contacts */

    .contacts-item {
        flex-direction: column;
    }

    .contacts-item .form-h3 {
        width: 100%;
    }
    
    .contacts-data {
        width: 70%;
    }

    .address {
        width: 250px;
    }

    .link {
        text-align: center;
        margin-bottom: 50px;
    }

    .footer-name {
        width: 150px;
        text-align: center;
    }

    
}

@media (max-width: 575px) {

    .intro {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        max-height: 1080px;
        padding-top: 100px;
        text-align: right;
    
        background: #97bde8 url("img/bckg.png") center no-repeat;
        background-position: 40%;
    }
    

    .h1-text {
        font-size: 30px;
    }

    .h2-text {

        font-size: 16px;
        margin: 10px auto 30px;
    }

    /* h */

    .project-bckg-header {
        width: 320px;
        margin: 100px 0 50px 0;
    }

    .project-header {
        font-size: 20px;
    }

    /* projects scroll */

    .description-project-scroll {
        top: 20px;
        left: 20px;
        font-size: 20px;
        width: 280px;
    }

    /* form */

    .h3-form {
        font-size: 20px;
        width: 300px;
    }

    .position-form {
        width: 100%;
    }

     /* career */

    .logo-partners img {
        width: 200px;
    }

    .partners-team h3 {
        font-size: 20px;
    }

    .job-title {
        font-size: 18px;
    }

     /* contacts */


    .contacts-data {
        width: 100%;
    }

    .address {
        height: 150px;
        padding: 15px;
        right: 50px;
    }

    .address h3 {
        font-size: 18px;
    }

    .address p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .error {
        text-align: center;
    }

    .footer {
        flex-wrap: wrap;
        gap: 20px;
        margin: 50px 0 100px 0;
    }
    .footer-cell {
        height: auto;
    }

    .footer-link {
        font-size: 16px;
        width: 300px;
    }
}

@media (max-width: 465px) {

        /* team */

        .people {
        width: 100%;
        }
    
    .h5-team {
        font-size: 20px;
    }
    .img-team {
        width: 250px;
    }

    .slick-dots button {
        width: 10px;
        height: 10px;
    }
}


@media (max-width: 414px) {
    .h1-text {
        font-size: 24px;
    }

    .container_first_page {
        display: flex;
        padding: 0;
    }

    .header-item {
        padding: 10px 0;
    }

       /* projects scroll */

       .description-project-scroll {
        top: 20px;
        left: 20px;
        font-size: 20px;
        width: 250px;
    }

    .h3 {
        font-size: 20px;
    }

    .projects-nav {
        row-gap: 50px;
    }

    .h3-form-contacts {
        width: 100%;
    }

    .contacts-item {
        gap: 0;
    }

    .address {
        height: 150px;
        padding: 15px;
        right: 30px;
    }


    .partners-team {
        width: 300px;
    }
}